.title {
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.topMargin {
	margin-top: 5%;
	margin-left: 2%;
}


.calendar {
	width: 80%;
	background-color: lightblue;
}

.selectPlan {
	margin: 20px;
	background-color: orange;
	padding: 10px;
	margin-left: 0px;
}

.selectPlanSelected {
	margin: 20px;
	background-color: red;
	padding: 10px;
	margin-left: 0px;
}

.center {
	text-align: center;
}