/*#calendarPage {
	background-image: url("res://background_advisr");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}*/

.title {
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.miniTitle{
	font-size: 20px;
	margin-bottom: 25px;
	color: white;
}

.contentTitle {
	font-size: 36px;
	color: white;
/*	display: inline-block;
*/	margin-left: 162px;
	margin-top: 100px;
	margin-bottom: 0px;
	padding: 0;

}

.sideBar {
	padding: 20%;
	height: 1500px;
	margin-left: 5%;
	/*background-color:  rgba(255, 255, 255, 0.75);*/
	background-color:  transparent;
	/*border-top-width: 2px;
	border-top-color: gray;*/
}


#grids {
	width: 75%;
	height: 1500px;
	margin-top: 100px;
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 5%;
	/*background-color:  rgba(255, 255, 255, 0.75);*/
/*	border-color: gray;
*/}

.calendar {
	background-color: transparent;
		
}

.bordered {
	border-bottom-width: 2px;
	border-bottom-color: gray;
}

.selectPlan {
	margin: 18px;
	border-radius: 30%;
	border-color: lightblue;
	border-width: 3px;
	padding: 10px;
	margin-left: 0px;
}

.exportIcon {
	/*margin-top: 300px;*/
	color: #1c89f8;
	background-color: transparent;
}

.recommended{
	margin-top: 120px;
}

.clear_button {
	width: 20px;
	height: 20px;
	margin-left: 10%;
	/*border-width: 1px;*/
	border-radius: 60%;
	padding: 20px;

}



/*.yearButton {
	
	

	border-width: 3px;
	border-color:  black;
	border-radius: 15%;
	
	box-shadow: 9px 10px 33px -1px rgba(0,0,0,0.75);
}

.yearButtonSelected {
	margin: 30px;
	margin-left: 0px;
	padding: 25px;
	
	font-size: 20px;
	background-color: #1c89f8;
	color: white;

	border-width: 3px;
	border-color:  #1c89f8;
	border-radius: 15%;
}*/


.selectorButton {
	margin: 15px;
	margin-left: 0px;
	padding: 20px;
	color: white;
	background-color: black;

	width: 250px;
	
	font-size: 18px;

	border-width: 3px;
	border-color:  black;
	border-radius: 15%;

	opacity: .53;
	
	box-shadow: 9px 10px 33px -1px rgba(0,0,0,0.75);
}

.selectPlanSelected {
	margin: 15px;
	margin-left: 0px;
	padding: 20px;
	background-color: gray;

	width: 250px;
	
	font-size: 18px;
	background-color: #1c89f8;
	color: white;

	border-width: 3px;
	border-color:  #1c89f8;
	border-radius: 15%;

	opacity: .75;
	
	box-shadow: 9px 10px 33px -1px rgba(0,0,0,0.75);
}

.center {
	text-align: center;
}

.rec {
	background-color: white;
	font-size: 25px;
	text-align: center;

	margin: 20px;
	height: 75px;
	width: 300px;
	border-radius: 25px;

	opacity: 0.7;
}

.recs {
	margin-top: 300px;
}

.sideText {
	text-align: center;
	color: white;
	font-size: 24px;

}

.class {
	background-color: white;
	opacity: 0.75;
	font-size: 25px;

	text-align: center;
	margin-bottom: 40px;
	width: 500px;
	border-radius: 25px;
	box-shadow: 10px;
	border-color: lightgray;
	border-width: 2px;
}

.fyclass {
	background-color: white;
	border-radius: 10px;
	/*border-color: blue;*/
	margin: 5px;
	box-shadow: 10px;
	text-align: center;
	border-color: lightgray;
	border-width: 2px;
}

.remove{
}

.summary {
	background-color: white;
	
	
	margin-bottom: 40px;
	width: 500px;
	border-radius: 25px;
	border-color: lightgray;
	border-width: 3px;
	box-shadow: 10px;

	height: 500px;
	margin-top: 40px;
}

.textSummary {
	font-size: 15px;
	color: #1c89f8;
	text-align: left;
	margin-left: 30px;
	margin-top: 40px;

}

.header {
	font-size: 25px;
	color: black;
}

.header2{
/*	margin-bottom: 40px;
*/	color: black;
	vertical-align: bottom;
	font-size: 25px;
}

.side{
	margin-right: 25px;
}

.summary_title {
	top-margin: 15px;
	color: green;
}

.rightTitle {
	margin: 40px;
	color: black;
	font-size: 20px;
}

.syncButton {
	background-color: green;
	opacity: 0.8;
	color: white;
	padding: 10px;
	border-radius: 30%;
}

button {
	margin: 100px;
}

.classHeader {
	text-align: center;
	margin-left: 30%;
	font-size: 20px;
	/*color: darkgray;*/
}

.fa {
   font-family: 'FontAwesome', 'fontawesome-webfont';
   font-size: 20px;
}



