/*#landingPage {
	background-image: url("res://background_advisr");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}*/


.center {
	text-align: center;
	margin-top: 30%;
}

.title {
	width: 50%;
}

.subtitle {
	font-size: 25px;
	color: white;
}

.signinButton {
	margin-top: 10%;
	background-color: #1C89F8;
	/*border-width: 1px;
	border-color: white;*/
	color: white;
	font-size: 25px;
	width: 800px;
	height: 150px;
	border-radius: 50%;
}