/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import "nativescript-theme-core/css/core.light.css";
@import url('~/platform.css');

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.action-bar {
	opacity: 0.53;
	background-color: #000000; /*teal*/
	color: white;
	
}

.action-bar-title {
  font-size: 40px;
/*  height: 300px;
  width: 300px;*/
}

.page {
	background-image: url("res://background_advisr");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}