/*#dashboardPage {
	background-image: url("res://background_advisr");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}*/


.fa {
   font-family: 'FontAwesome', 'fontawesome-webfont';
   font-size: 20px;
}

.menuButton {
	margin: 100px;
}

/*.title {
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}*/

.pageTitle {
	font-size: 36px;
	color: white;
/*	display: inline-block;
*/	margin-left: 162px;
	margin-top: 100px;
	margin-bottom: 0px;
	padding: 0;

}

.contentTitle {
	font-size: 25px;
	color: white;
	text-align: right;

}

.sideBarText {
	padding: 30px;
	color: white;

}
.selectorButton {
	margin: 30px;
	margin-left: 0px;
	padding: 20px;
	background-color: white;
	
	font-size: 18px;
	color: #1c89f8;

	border-width: 3px;
	border-color:  #1c89f8;
	border-radius: 30%;
	
	box-shadow: 9px 10px 33px -1px rgba(0,0,0,0.75);

}

.sideBar {
	margin-left: 162px;
}

/*.card {
    margin: 2%;
    background-color: white;
}

.cell {

}

.classesLabel {
}

.cardTitle {
	margin: 2%;
	margin-right: 0px;
	margin-top: 15px;
	font-size: 20px;
	color: #003535;
}

.details {
	margin-top: 10px;
	margin-left: 60px;
}

.card {
	border-top-width: 2px;
	border-top-color: gray;
}

.progressNumber {
	font-size: 20px;
}

.smallLabel {
	font-size: 10px;
}

.padding {
	margin-top: 10px;
	margin-bottom: 10px;
}

.cardSubtitle {
	margin: 2%;
}*/

/*.headerPic {
	height: 10px;
}

.more {
	margin: 2%;
	text-align: right;
	margin-bottom: 5px;
	font-size: 15px;
	color: gray;
}

#grid {
	margin: 5%;
	margin-top: 5%;
}

.white {
	margin-top: 30%;
	/*width: 80%;*/
	/*background-color: white;
	height: 70%;*/
}


.art {
	background-image: url("res://art");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.economics {
	background-image: url("res://economics");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.history {
	background-image: url("res://history");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.psychology {
	background-image: url("res://psychology");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.computer-science {
	background-image: url("res://computer-science");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.political-science {
	background-image: url("res://political-science");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.comparative-literature {
	background-image: url("res://comparative-literature");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.MSandE {
	background-image: url("res://economics");
	background-repeat: no-repeat;
	background-position: center;
}

.anthropology {
	background-image: url("res://anthropology");
	background-repeat: no-repeat;
	background-position: center;
}	*/


/*#panels {
	margin: 5%;
	margin-top: 15%;
}

.panelCard {
	border-color: gray;
	border-right-width: 1px;
	text-align: center;
}

.center {
	text-align: center;
}

.infoTitle {
	font-size: 25px;
}

.infoSubtitle {
	margin-top: 5;
	font-size: 12px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.purple {
	color: purple;
}*/