/*#dashboardPage {
	background-image: url("res://background_advisr");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}*/


/*.dashboard {
	padding: 0px;
	margin-top: 10px;
	margin-left: 10px;
}*/

.dashboardTitle {
	font-size: 36px;
	color: white;
/*	display: inline-block;
*/	margin-left: 162px;
	margin-top: 100px;
	margin-bottom: 0px;
	padding: 0;

}


button {
	margin: 100px;
}

.card {
    margin: 25px;
    background-color: white;
}

.cardTitle {
	margin-top: 5%;
	margin-left: 10%;
	font-size: 25px;
	color: #003535;
}

.cardSubtitle {
	margin-left: 10%;
	font-size: 20px;
}

.inlineTitle {
	margin-top: 5%;
/*	margin-bottom: 0%;
	margin-right: 0px;*/
	font-size: 25px;
	color: #003535;
	margin-left: 10px;
}

.center {
	text-align: center;
}



#grid {
	margin: 5%;
	margin-top: 5%;
}

#GERgrid {
	margin: 5%;
}

/*#panels {
	margin: 5%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5%;
}*/

.panelCard {
	padding: 20px;
	margin-top: 60px;
	border-right-color: gray;
	border-right-width: 2px;
	text-align: center;
}

.noLeftBorder {
	border-left-color: white;
	border-left-width: 0px;
}

.noRightBorder {
	border-right-color: white;
	border-right-width: 0px;
}

.infoLabel {
	font-size: 20px;
	margin: 2%;
}

.small-infoLabel {
	font-size: 15px;
/*	margin: 2%;
	margin-top: 0%;*/
	color: gray;
}


.infoTitle {
	font-size: 35px;
}

.infoSubtitle {
	font-size: 20px;
}

.progressNumber {
	margin-top: 10px;
	font-size: 30px;
	text-align: center;
}

.GER {
    margin-top: 10px;
    font-size: 20px;
    margin: 5%;
}

.progressbar {
    height: 65;
    width: 65%;
}



.doneButton {
	height: 30px;
	width: 30px;
	background-color: lightblue;
	margin-left: 0px;
}

.blue {
    color: #338241
}

.black {
    color: #4B3B47
}


.fa {
   font-family: 'FontAwesome', 'fontawesome-webfont';
   font-size: 20px;
}
