/*#dashboardPage {
	background-image: url("res://background_advisr");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}*/


.dashboard {
	padding: 0px;
	margin-top: 10px;
	margin-left: 10px;
}

.dashboardTitle {
	font-size: 36px;
	color: #CCCCD0;
	display: inline-block;
	margin-left: 100px;
	margin-top: 100px;
	margin-bottom: 0px;

}

button {
	margin: 100px;
}

.card {
    margin: 10px;
    background-color: white;
}

.cardTitle {
	margin: 5%;
/*	margin-bottom: 0%;
	margin-right: 0px;*/
	font-size: 25px;
	color: #003535;
}

.center {
	text-align: center;
}

.cardSubtitle {
	margin-left: 5%;
}

#grid {
	margin: 5%;
	margin-top: 5%;
}

#GERgrid {
	margin: 5%;
}

#panels {
	margin: 5%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5%;
}

.panelCard {
	padding: 20px;
	border-right-color: gray;
	border-right-width: 2px;
	text-align: center;
}

.noLeftBorder {
	border-left-color: white;
	border-left-width: 0px;
}

.noRightBorder {
	border-right-color: white;
	border-right-width: 0px;
}

.infoLabel {
	font-size: 20px;
	margin: 2%;
}

.small-infoLabel {
	font-size: 15px;
	margin: 2%;
	margin-top: 0%;
	color: gray;
}


.infoTitle {
	font-size: 30px;
}

.progressNumber {
	margin-top: 40px;
	font-size: 30px;
	text-align: center;
}

.GER {
    margin-top: 10px;
    font-size: 20px;
    margin: 5%;
}

.progressbar {
    height: 65;
    width: 65%;
}

.infoSubtitle {
	margin-top: 5;
	font-size: 16px;
}

.doneButton {
	height: 30px;
	width: 30px;
	background-color: lightblue;
	margin-left: 0px;
}

.blue {
    color: #0C5E8A
}

.black {
    color: #4B3B47
}

/*.green {
	color: green;
}

.red {
	color: red;
}

.purple {
	color: purple;
}*/
