/*#requirementDetailView {
	background-image: url("res://background_advisr");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}*/


.dashboardTitle {
	font-size: 40px;
	display: inline-block;
	margin-top: 10%;
}

.cell{
	margin:8px;
}

.classesLabel{
	margin:10px;
}

#coreMajor1, #electivesMajor1{
	margin:2%;
}

.card {
    margin: 2%;
    background-color: white;
}

.cardTitle {
	margin: 2%;
	margin-right: 0px;
	font-size: 25px;
	color: #003535;
}

.cardSubtitle {
	margin: 2%;
}

#grid {
	margin: 15%;
	margin-top: 5%;
}

#panels {
	margin: 5%;
	margin-top: 15%;
}

.panelCard {
	border-color: gray;
	border-right-width: 1px;
	text-align: center;
}

.infoTitle {
	font-size: 25px;
}

.infoSubtitle {
	margin-top: 5;
	font-size: 12px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.purple {
	color: purple;
}